{% extends "base2.html" %}
{% block title %}原神~啟動!!!{% endblock title %}
{% block headmessage %}
<h3 style="font-family:微軟正黑體;font-size:14pt;font-weight=bold;">好蒿爽爽
{% endblock headmessage %}
{% block content %}
{% for c in comments %}
{% if forloop.first %}
<table>
    <tr background='#cccccc'>
        <th>Text</th>
        <th>SLUG</th>
        <th>pub date</th>
    </tr>
{% endif %}
    <tr background='{% cycle "#ffccff" "#ccffcc"}'>
        <td>{{c.text}}</td>
        <td>{{c.pub_date}}</td>
    </tr>
{% if forloop.last%}
</table>
{% endif %}
{% empy %}
<h2>沒有任何回覆</h2>
{% endfor %}
{% endblock content %}