{% extends "base2.html" %}
{% block title %}好蒿爽爽{% endblock title %}
{% block headmessage %}
<a style="font-family:微軟正黑體;" href='/'>回首頁讚讚</a>
{% endblock headmessage %}

{% block content %}

<h2>HTML Forms</h2>
<form action="">
  <label for="fname">帳號:</label><br>
  <input type="text" id="user_id" name="user_id" value="ntub"><br>
  <label for="lname">密碼:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="送出">
</form> 

{% endblock content %}